.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    padding: 40px 0;
    margin: 20px 5px;

    transform: scale(0.9);
    transition: all .4s;
}
.card__image::after{
    content: 'PLAY';
    color:#fff;
    text-align: center;
    display:flex;
    justify-content:center;
    align-items:center;

    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-100%,-50%);
    transition: all .4s;

    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    border-top:2px solid #00354e;
    border-left:2px solid #00354e;
    box-shadow: 2px 2px 4px #560c0c;
    

    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.card:hover {
    transform: scale(1);
}
.card__image:hover::after{
    opacity: 1;
   visibility: visible;
   transform:translate(-50%,-50%);
} 
.card__name {
    font-size: 1rem;
    color: #fff;
    margin-top: 15px;
    text-align: center;

   
}

.card__image {
    width: 180px;
    height: 190px;
}

.card__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: #111;
}
@media only screen and (max-width:420px){
    .card{
        padding:20px 0;
    }
    .card__name{
        font-size:0.8rem;
    }
    .card__image {
        width: 120px;
        height: 150px;
    }
}
@media only screen and (max-width:360px) {
    .card {
        /* min-width: 220px; */
    }
    .card__name {
        font-size: 0.8rem;
    }
}