@font-face {
    font-family: fontBasket;
    src: url(./Assets/Fonts/LmsILoveThisGame-Da5R.ttf);
}

@font-face {
    font-family: fontSecondBasket;
    src: url(./Assets/Fonts/LmsSwoosh-KW9A.ttf);
}

.App {
    background-color: #101010;
    font-family: fontBasket;
    min-width: 280px;
}